<div class="modal-header">
  <h4 class="modal-title">Edit Password</h4>
</div>
<div class="modal-body">
  <form [formGroup]="passwordForm">
    <app-form-group label="Name" controlName="name" [errorMessage]="getErrorMessage('name')">
      <app-custom-input formControlName="name"></app-custom-input>
    </app-form-group>

    <app-form-group label="Value" controlName="value" [errorMessage]="getErrorMessage('value')">
      <app-custom-input type="password" formControlName="value"></app-custom-input>
    </app-form-group>

    <app-form-group
      label="Description"
      controlName="description"
      [errorMessage]="getErrorMessage('description')"
    >
      <textarea
        class="form-control"
        formControlName="description"
        id="passwordDescription"
        name="passwordDescription"
        required
      ></textarea>
    </app-form-group>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="passwordForm.invalid"
    (click)="savePassword()"
  >
    Save
  </button>
</div>
