<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <app-form-group label="title" [errorMessage]="getErrorMessage('title')">
    <input type="hidden" formControlName="id" class="form-control" id="id" />
    <app-custom-input formControlName="title"></app-custom-input>
  </app-form-group>

  <app-form-group label="content" [errorMessage]="getErrorMessage('content')">
    <app-custom-textarea formControlName="content"></app-custom-textarea>
  </app-form-group>

  <app-form-group>
    <button type="submit" class="btn btn-primary" [disabled]="!isCanSubmit()">Submit</button>
  </app-form-group>
</form>
