<div class="modal-header">
  <h4 class="modal-title">Add Password</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="passwordForm">
    <app-form-group label="name" controlName="name" [errorMessage]="getErrorMessage('name')">
      <input
        formControlName="name"
        class="form-control"
        id="passwordName"
        name="passwordName"
        required
      />
    </app-form-group>

    <app-form-group label="value" controlName="value" [errorMessage]="getErrorMessage('value')">
      <input formControlName="value" class="form-control" id="value" name="value" required />
    </app-form-group>

    <app-form-group
      label="description"
      controlName="description"
      [errorMessage]="getErrorMessage('description')"
    >
      <textarea
        formControlName="description"
        class="form-control"
        id="description"
        name="description"
        required
      ></textarea>
    </app-form-group>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="passwordForm.invalid"
    (click)="savePassword()"
  >
    Save
  </button>
</div>
