<div *ngIf="user$ | async as user" class="row">
  <div class="col-lg-6">
    <p>ID: {{ user.id }}</p>
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
  </div>
  <div class="col-lg-6">
    <ng-container *ngIf="user.ownVaults">
      <h4>Own Vaults List</h4>
      <app-table [columns]="columns" [data]="user.ownVaults" trExtraClasses="own-table-bordered"></app-table>
    </ng-container>
    <ng-container *ngIf="user.sharedVaults">
      <h4>Shared Vaults List</h4>
      <app-table [columns]="columns" [data]="user.sharedVaults" trExtraClasses="shared-table-bordered"></app-table>
    </ng-container>
  </div>
</div>
