<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-form-group label="Name" controlName="name" [errorMessage]="getErrorMessage('name')">
    <input type="hidden" formControlName="id" class="form-control" id="id" />
    <app-custom-input formControlName="name"></app-custom-input>
  </app-form-group>

  <app-form-group
    label="Email address"
    controlName="email"
    [errorMessage]="getErrorMessage('email')"
  >
    <app-custom-input formControlName="email"></app-custom-input>
  </app-form-group>

  <app-form-group
    label="Password"
    controlName="passwod"
    [errorMessage]="getErrorMessage('password')"
  >
    <app-custom-input type="password" formControlName="password"></app-custom-input>
  </app-form-group>

  <app-form-group
    label="Password confirm"
    controlName="password_confirmation"
    [errorMessage]="getErrorMessage('password_confirmation')"
  >
    <app-custom-input type="password" formControlName="password_confirmation"></app-custom-input>
  </app-form-group>

  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">submit</button>
</form>
