<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-form-group
    label="Email address"
    controlName="email"
    [errorMessage]="getErrorMessage('email')"
  >
    <app-custom-input formControlName="email"></app-custom-input>
  </app-form-group>

  <app-form-group
    label="Password"
    controlName="password"
    [errorMessage]="getErrorMessage('password')"
  >
    <app-custom-input type="password" formControlName="password"></app-custom-input>
  </app-form-group>

  <app-form-group>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
  </app-form-group>
</form>
