<a class="btn btn-primary" [routerLink]="['add']">add new</a>
<app-table
  [columns]="columns"
  [data]="infoPages$ | async"
  [fragment]="actionsTemplate"
></app-table>

<ng-template #actionsTemplate let-info>
  <div class="d-flex justify-content-between">
    <a class="btn btn-success " [routerLink]="info.id">View</a>
    <a *ngIf="loggedUser.role === 'admin'" class="btn btn-primary" [routerLink]="[info.id, 'edit']">Edit</a>
    <button *ngIf="loggedUser.role === 'admin'"  class="btn btn-danger" (click)="deletePageInfo(info.id)" >Delete</button>
  </div>
</ng-template>

