<form [formGroup]="userForm" enctype="multipart/form-data"  (ngSubmit)="onSubmit()">
  <app-form-group label="Name" controlName="name" [errorMessage]="getErrorMessage('name')">
    <input type="hidden" formControlName="id" class="form-control" id="id" />
    <app-custom-input formControlName="name"></app-custom-input>
  </app-form-group>

  <app-form-group
    label="Email address"
    controlName="email"
    [errorMessage]="getErrorMessage('email')"
  >
    <app-custom-input type="email" formControlName="email"></app-custom-input>
  </app-form-group>

  <app-form-group>
    <button (click)="selectMedia($event)" class="btn btn-sm btn-success">add media</button>
  </app-form-group>

  <app-form-group>
    <button type="submit" class="btn btn-primary" [disabled]="!isCanSubmit()">Submit</button>
  </app-form-group>
</form>
