<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/vaults">Vaults</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/users/{{ loggedUserId }}">My Profile</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="#">About Us</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="#">Contacts</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="localStorage.getItem('access_token')" class="nav-item">
        <a routerLinkActive="active" class="nav-link" (click)="logout()">Log Out</a>
      </li>
      <li *ngIf="!localStorage.getItem('access_token')" class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
