<div class="pt-3 pb-3">
  <button class="btn btn-success" (click)="addPasswordModal()">Add Password</button>
</div>

<app-search
  #scrollContainer
  (search)="getSearch($event)"
  customClass="w-50 mt-3, mb-3"
></app-search>
<div appScrollable [scrollThreshold]="10">
  <app-table
    [data]="passwords$ | async"
    [columns]="columns"
    [fragment]="controlTemplate"
  ></app-table>
</div>

<ng-template #controlTemplate let-item>
  <div class="d-flex justify-content-between">
    <button class="btn btn-success" (click)="updatePasswordModal(item)">Edit</button>
    <button class="btn btn-danger" (click)="deletePasswordModel(item.id)">Delete</button>
  </div>
</ng-template>
